/*this file is not worked on often, but I will resolve some text issues eventually -Z*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	margin-left: 1em;
	margin-right: .025em;
	padding: 1em;
	background-size: cover;
	background-image: url(background/209159.gif);
	background-position: 0%;
	background-attachment: fixed;
	background-color: rgb(7, 0, 100);
	width: 1080x;
	color:#1100ff;
}

p {
	color: #9ac2ff;
	text-shadow: 1px 3px #00073a;
}
q {
	Color: white;
}
li{
	color: #9ac2ff;
	text-shadow: 1px 3px 3px #090C9B;
}
blockquote {
	color: #9ac2ff;
	text-shadow: 1px 2px rgb(0, 25, 80);
}
ul {
	text-shadow: 1px 2px rgb(143, 143, 255);
}
h1{
	margin-top: auto;
	color: chartreuse;
	font-size: 256%;
}
h2{
	margin-top: auto;
	color: #1A8FE3;
	font-size: 200%;
}
h3{
	margin-top: auto;
	color: teal;
	font-size: 169%;
	text-shadow: 1px 2px 1px cyan;
}
h4{
	margin-top: auto;
	color:rgb(0, 162, 255)
}
.askew {
	float: right;
}
.glowupaskew {
	text-shadow: #F3CA40;
	float: right
}
.smidge-scoot{
	text-align: center;
}
.altcolor_dark-to-light {
	color: mediumseagreen;
}
.altcolor_light-to-dark {
	color: rgb(86, 0, 167);
}
a:link {
	color: chartreuse;
	background-color: transparent;
	text-decoration: underline;
}
a:visited {
	color: turquoise;
	background-color: transparent;
	text-decoration: underline;
}
a:hover {
	color: firebrick;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: darkblue;
	background-color: transparent;
	text-decoration: underline;
  }

.stroke {
	text-shadow:  1px 2px black;
}
#textgrow-big {
	font-size: 69px;
}
.flip-x {
	transform: scaleX(-1);
}